<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button routerLink="/places/tabs/offers">
      </ion-back-button>
    </ion-buttons>
    <ion-title>New Offer</ion-title>
    <ion-buttons slot="primary">
   <ion-button (click)="onCreateOffer()" [disabled]="!form.valid"> 
     <ion-icon name="checkmark" slot="icon-only"></ion-icon>
    </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="form">
<ion-grid>
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
     <ion-item>
       <ion-label position="floating">  Title </ion-label>
       <ion-input type="text" formControlName="title"   autocomplete="on" autocorrect="on"></ion-input>
     </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!form.get('title').valid && form.get('title').touched">
    <ion-col size-sm="6" offset-sm="3">
      <p> A title must not be empty!</p>
       </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <ion-item>
        <ion-label position="floating"> Short Description </ion-label>
        <ion-textarea rows="3" formControlName="description"> </ion-textarea>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!form.get('description').valid && form.get('description').touched">
    <ion-col size-sm="6" offset-sm="3">
      <p> Description must be between 1 and 180 characters!</p>
       </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-sm="6" offset-sm="3">
      <ion-item>
        <ion-label position="floating"> Price </ion-label>
        <ion-input type="number" formControlName="price" > </ion-input>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="!form.get('price').valid && form.get('price').touched">
    <ion-col size-sm="6" offset-sm="3">
      <p> A price must not be empty!</p>
       </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size-sm="3" offset-sm="3">
      <ion-item>
        <ion-label position="floating">From</ion-label>
        <ion-datetime formControlName="dateFrom" display-format="MM/DD/YYYY" min="1994-03-14" max="2012-12-09" value="2002-09-23T15:03:46.789"></ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col size-sm="3">
      <ion-item>
        <ion-label position="floating">To</ion-label>
        <ion-datetime formControlName="dateTo" display-format="MM/DD/YYYY" min="1994-03-14" max="2012-12-09" value="2002-09-23T15:03:46.789"></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
</ion-grid>
</form>
</ion-content>
